/downloader
/errors
/includes
/lib
/patch
/pkginfo
/shell
/var
/.htaccess
/api.php
/changelog.txt
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/app/locale
/app/.htaccess
/app/Mage.php
/app/code/community
/app/code/core
/app/design/adminhtml
/app/design/install
/app/design/frontend/base
/app/design/frontend/default/blank
/app/design/frontend/default/default
/app/design/frontend/default/iphone
/app/design/frontend/default/modern
/skin/adminhtml
/skin/install
/skin/frontend/base
/skin/frontend/default/blank
/skin/frontend/default/blue
/skin/frontend/default/default
/skin/frontend/default/french
/skin/frontend/default/german
/skin/frontend/default/iphone
/skin/frontend/default/modern
/js/calendar
/js/extjs
/js/flash
/js/jscolor
/js/lib
/js/mage
/js/prototype
/js/scriptaculous
/js/tiny_mce
/js/varien
/js/blank.html
/js/index.php
/js/spacer.gif
/app/etc/config.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/media/catalog
/media/customer
/media/dhl
/media/downloadable
/media/tmp
/media/wysiwyg
/media/xmlconnect
/media/.htaccess
